{% extends "admin/base.html" %}

{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %}{{ title }} | backend{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">backend administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
