<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="" method="POST">
    {%csrf_token%}
    <input type="text" name="first_name" placeholder="first name">
    <input type="text" name="last_name" placeholder="last_name"><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="PASSWORD" name="password" placeholder="password"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>
